/********** HEADER **********/

header {
    height: 8em;
    background-color: cadetblue;
}

/********** LOGO **********/

#logo {
    display: inline-block;
}

#logo img {
    height: 7em;
    width: 14em;
}

/********** MENU **********/

#menu {
    line-height: 4em;
}

#menu ul {
    list-style: none;
    padding-top: 2em;
}

#menu ul li {
    display: inline-block;
    border: 1px dashed #EB6119;
    border-radius: 10%;
    color: white;
    background-color: rgb(68, 66, 66);
    padding: 0px 20px;
}

/********** PUBLICIDAD **********/

#anuncios {
    height: 20em;
}

.publicidad img {
    height: 20em;
    width: 100%;
    padding: 5px;
    display: inline-block;
}

/********** VIDEOS **********/

#videos {
    height: 20em;
}

.video video {
    height: 20em;
    width: 20em;
    display: inline-block;
    float: left;
    padding: 5px 10px;
}

/********** IMÁGENES Y TEXTOS **********/

#imagenes {
    height: 20em;
    padding-top: 10px;
}

.imagen img {
    height: 6.3em;
    width: 13em;
    padding-left: 10px;
    float: left;
    padding-right: 5px;
}

.imagen p {
    padding: 1px;
}

/********** FOOTER **********/

footer {
    height: 6em;
    background-color: cadetblue;
}

footer p {
    line-height: 8em;
    display: inline-block;
}

footer nav ul {
    width: 10%;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    padding: 10px;
}

footer ul li {
    border: 1px dashed #EB6119;
    border-radius: 10%;
    color: white;
    background-color: rgb(68, 66, 66);
}

/********** FORMULARIO **********/

a {
    text-decoration: none;
    color: white;
}

#campos {
    padding: 10px;
}

input {
    display: block;
    padding: 10px;
    margin-bottom: 5px;
}

#main_container {
    height: 100%;
}

select {
    margin-bottom: 5px;
    display: block;
}

button {
    display: block;
}

#boton_enviar {
    margin-bottom: 5px;
}

textarea {
    display: block;
    margin-bottom: 5px;
}

/********** MEDIA QUERYS **********/

@media screen and (max-width: 600px) {
    header {
        height: 11em;
    }
    #logo, .publi.col-5, #imagenes, footer {
        width: 100%;
    }
    #menu {
        line-height: 2em;
        width: 100%;
    }
    #menu ul {
        padding-top: 1em;
    }
    #menu ul li {
        padding: 0px px;
    }
    #videos {
        height: 100%;
        width: 100%;
    }
    footer p {
        line-height: 3em;
        font-size: smaller;
    }
    footer ul li {
        padding-right: 86px;
    }
    #main_container {
        overflow: auto;
    }
}