
#menu img{
    height: 100px;
    
}

#menu li a:hover{
background-color: black;
border-radius: 10px;
color: white;
}

#menu_footer a:hover{
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 115px;
}

#menu_footer span{
    font-weight: bold;
}

#menu_footer p{
    text-align: center;
}