*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: orange;
}

.boxCalcular {
  background: black;
  width: 600px;
  padding: 5px;
  margin: 5px auto;
  text-align: left;
}

.conIva {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}


#resultadosFinales {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.resFinal {
  background: green;
  padding: 5px;
  margin: 5px auto;
  width: 600px;
}

#caja1 {
  margin-top: 150px;
}
