.imagenFondo{
  background-image: url(../imagenes/land1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  background-color: green;
  color: #FFF;
  font-size: 50px;
}

p{
  border: 1px solid red;
  font-size: 20px;
}

span {
  color: green;
}

#paginacion {
  border: 2px solid grey;
  background: lightgrey;
  padding: 5px 10px;
  overflow: auto;
  position: fixed;
  width: 95%;
}

#paginacion a {
  color: #000;
  text-decoration: none;
}

#paginacion .botonAnterior{
  float:left;
}

#paginacion .botonPosterior{
  float:right;
}

/*Hay que definir la posición de #contenedor para que #bloque no se nos vaya
a la esquina superior derecha de nuestra ventana, y se mantenga dentro de #contenedor*/
#contenedor {
  background-color: #ccc;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
}

#bloque {
  background-color: red;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

#listaPatas p{
  margin-left: 20px;
  padding: 20px;
  position: relative;
}

/*De esta forma insertamos un cuadrado verde delante del primer elemento de #listaPatas.*/
#listaPatas p:first-child::before {
  content:"";
  width: 10px;
  height: 10px;
  background-color: green;
  position: absolute;
  top: 25px;
  left: 0;
}

/*De esta forma insertamos un cuadrado rojo delante de todos los elementos de #listaPatas.*/
#listaPatas p::before {
  content:"";
  width: 10px;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 25px;
  left: 0;
}

#bloques p{
  background-color: yellow;
  width: 50px;
  height: 50px;
  display: inline-block;
}

/*Hacer una lista que cuando le pasemos el cursor por encima cambie el color del fondo
y de las letras de cada fila. El icono que iría al principio se ve mal porque la imagen
no está redimensionada.*/
ul.firstList{
  width: 500px;
  list-style: none;
}

.firstList li{
  background-color: #ccc;
  padding:10px;
  border: 1px solid #000;
  cursor: pointer;

}

.firstList li a{
  text-decoration: none;
  color: #000;
  background-image: url("../imagenes/play.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: 100%;
}

.firstList li:hover{
  background-color: green;
}

.firstList li:hover a{
  color: blue;
}
