#cabecera{
  padding: 1em;
}

#menu{
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#noticias, #publicidad, #principal, #secundario, #pie{
  padding: 0.5em;
}

#pie{
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 1em;
}

.articulo{
  margin-bottom: 1em;
}

.imagenes{
  margin: 0.5em;
}

#publicidad{
  margin-top: 1em;
}
