body {
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

ul{
    list-style: none;
}

/*Estilo de Cabecera*/

#header {
    height: 80px;
}

#title {
    background-color: rgb(105, 102, 102);
    height: 100%;
}

#title img {
    height: 40px;
    width: 40px;
    border-radius: 60% 60% 80% 80%;
    display: inline-block;
    line-height: 80px;
    float: left;
    margin: 20px 10px;
}

#title h1 {
    width: 410px;
    display: inline-block;
    line-height: 80px;
    padding-left: 10px;
    font-size: 22px;
}

#profile {
    background-color: rgb(61, 60, 60);
    height: 100%;
}

#profile img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    float: left;
    line-height: 80px;
    margin: 15px 10px;
}

#profile h2 {
    display: inline-block;
    line-height: 80px;
    font-size: 15px;
    margin-left: 10px;
}

#profile a {
    margin-left: 20px;
    background-color: rgb(61, 60, 60);
    color: white;
    border-color: transparent;
}

#lista {
    background-color: rgb(61, 60, 60);
    position: relative;
    z-index: 9;
    list-style: none;
}

#lista li {
    line-height: 30px;
    padding: 15px;
}

#lista li ion-icon{
    padding-right: 10px;
}

/*Estilo de Menu Principal*/

#mainmenu {}

#menu {
    background-color: #595959;
    height: 800px;
}

#menu ul li {
    list-style: none;
    position: relative;
    padding: 30px;
}

#menu ul li img {
    height: 30px;
    width: 30px;
    position: absolute;
    left: -0px;
}

#menu ul li h2 {
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

#menu ul li select {
    background-color: #595959;
    border-color: transparent;
    margin-left: 14px;
    color: white;

}

#crafted {
    height: 60px;
}

#crafted p {
    line-height: 60px;
    margin-left: 30px;
}

.icons {
    font-size: 20px;
    margin-left: 50px;
}

/*Estilo de Tablas del Calendario*/

.tab {
    padding: 10px;
}

#headercalendar1 {
    height: 60px;
    background-color: rgb(243, 175, 50);
    box-shadow: 2px 2px 5px grey;
}

#headercalendar2 {
    height: 60px;
    background-color: rgb(55, 163, 55);
    box-shadow: 2px 2px 5px grey;
}

#headercalendar3 {
    height: 60px;
    background-color: rgb(236, 34, 34);
    box-shadow: 5px 5px 5px grey;
}

.tabtitle {
    margin-left: 10px;
    line-height: 60px;
    font-weight: bold;
}

#headercalendar1 p ion-icon {
    display: inline-block;
    float: right;
    padding: 20px 10px;
}

#headercalendar2 p ion-icon {
    display: inline-block;
    float: right;
    padding: 20px 10px;
}

#headercalendar3 p ion-icon {
    display: inline-block;
    float: right;
    padding: 20px 10px;
}

.number {
    text-align: center;
    font-size: 9em;
    color: black;
}

#number1 {
    border: 1px solid rgb(243, 175, 50);
    box-shadow: 2px 2px 5px grey;
}

#number2 {
    border: 1px solid rgb(55, 163, 55);
    box-shadow: 2px 2px 5px grey;
}

#number3 {
    border: 1px solid rgb(236, 34, 34);
    box-shadow: 2px 2px 5px grey;
}

/*Estilo de Tablas Tickets*/

/* Tabla Last Updated Tickets */

.ticketstitle {
    margin-left: 10px;
    line-height: 60px;
    color: black;
    font-weight: bold;
}

.bordertable1 {
    border: 1px solid grey;
    box-shadow: 2px 2px 5px grey;
}

#headertickets1 {
    height: 60px;
    background-color: rgb(173, 168, 168);
    box-shadow: 2px 2px 5px grey;
}

#subheadertickets {
    height: 60px;
    color: rgb(236, 34, 34);
    border: 1px dashed rgb(236, 34, 34);
    border-radius: 5px;
    margin: 5px;
}

#subheadertickets p {
    line-height: 60px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}

span {
    font-weight: bold;
}

#subheadertickets a {
    line-height: 60px;
    margin-right: 10px;
    display: inline-block;
    float: right;
    text-decoration: none;
    color: rgb(236, 34, 34);
    font-weight: bold;
}

#table {
    height: 40px;
    border: 1px solid grey;
    margin: 5px 5px 0px;
    color: black;
}

#table h3 {
    font-size: 17px;
    line-height: 40px;
    margin-left: 10px;
    border-right: 1px solid grey;
}

#table ion-icon {
    padding-left: 10px;
    cursor: pointer;
}

.columns {
    border: 1px solid grey;
    margin: 0px 5px;
}

.table_columns {
    height: 40px;
    color: black;
}

.table_columns p {
    line-height: 40px;
    margin-left: 10px;
    border-right: 1px solid grey;
}

.rowtable:nth-child(odd) {
    background-color: rgb(228, 228, 228);
}

.pages {
    height: 80px;
    padding: 20px;
}

.pages a {
    text-decoration: none;
    line-height: 40px;
    color: rgb(4, 163, 226);
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 17px;
}

.pages a:hover{
    background-color: rgb(4, 163, 226);
    color: white;
}

/* Tabla Create Ticket */

#headertickets2 {
    height: 60px;
    background-color: rgb(48, 146, 192);
    box-shadow: 2px 2px 5px grey;
}

.createTicket {
    height: 313px;
    border: 1px solid rgb(48, 146, 192);
    box-shadow: 2px 2px 5px grey;
}

.form {
    padding: 10px 5px;
}

.form input {
    height: 50px;
    width: 100%;
}

#description input {
    height: 100px;
}

#email {
    height: 50px;
}

#email input {
    width: 80%;
    display: inline-block;
}

#email p {
    display: inline-block;
    height: 50px;
    background-color: grey;
    color: black;
    text-align: center;
    line-height: 50px;
    padding: 0px 5px;
}

.createButton {
    height: 30px;
    padding: 20px 5px;
}

.createButton button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(48, 146, 192);
    color: white;

}

.createButton ion-icon {
    padding: 0px 10px 0px 0px;
}