/********* HEADER **********/

header {
    background-color: orange;
    display: block;
    box-shadow: 5px 3px 10px black;
    margin: 3px;
}

#logo img {
    height: 120px;
    width: 130px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#menu nav {
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
}

#menu nav ul li {
    display: inline-block;
    padding: 10px;
    border: 2px solid #421104;
    background-color: rgb(65, 62, 62);
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

#menu nav ul li:hover {
    box-shadow: 5px 3px 10px black;
    background-color: black;
}

ion-icon{
    color: white;
}

#titulo {
    font-family: fantasy;
    text-align: center;
    font-size: 30px;
}

#titulo a {
    color: #421104;
    box-shadow: 5px 3px 10px black;
}

/********** MAIN ***********/

main {
    padding: 10px;
    display: block;
}

ul {
    list-style: none;
}



.imagen, .descripcion, .precio, .valoracion {
    padding: 5px;
    width: 60%;
    margin: 0 auto;
}

.imagen img {
    height: 150px;
    widows: 150px;
    cursor: pointer;
}

.valoracion img {
    height: 20px;
    width: 20px;
    display: inline-block;
}

/*estrellas de valoración*/

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/************* FOOTER *************/

footer {
    display: block;
    background-color: orange;
    box-shadow: 5px 3px 10px black;
    margin: 3px;
}

footer nav ul li {
    padding: 1px;
    border: 1px solid #421104;
    background-color: rgb(65, 62, 62);
    border-radius: 5px;
    width: 17%;
    text-align: center;
    margin: 2px;
    box-shadow: 1px 1px 2px black;
}

footer nav ul li:hover {
    box-shadow: 3px 1px 5px black;
    background-color: black;

}

footer p {
    padding-top: 25px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-4"] {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    /* For tablets: */
    [class*="col-4"] {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    [class*="col-4"] {
        width: 33.33%;
    }
}