body{
    margin: 5px;
}

#header {
    background-color: black;
    color: white;
}

#title{
    height: 200px;
}

#title p {
    padding: 20px;
    border-right: 1px solid white;
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title p span{
    font-weight: bold;
}

#title h4 {
    padding: 20px;
    border-right: 1px solid white;
    height: 70px;
    margin-bottom: 20px;
}

img {
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

#profile {
    padding: 10px;
    text-align: center;
}

.content_title{
    padding: 50px;
}

.content {
    padding: 50px;
    border-left: 1px solid  black;
    margin-top: ;

}

.subcontent {
    padding: 50px;
}

.subtitle{
    color: rgb(187, 187, 7);
    padding: 10px 0px;
}

#main-content{
    border-bottom: 1px solid black;
}

.labels{
    display: inline-block;
    padding: 5px;
    background-color: black;
    color: white;
    margin: 2px;
}

#labelbox{
    padding: 40px;
}

#skills{
    border-bottom: 1px solid black;
}

#studies{
    padding: 50px;
}

#education{
    border-bottom: 1px solid grey;
}

#footer{
    text-align: center;
}

.text-footer{
    padding: 5px;
    font-size: 10px;
    font-style: italic;
}





















/* 
h1{
    animation-duration: 5s;
    animation-name: animacionUno;
    animation-iteration-count: infinite;
}

@keyframes animacionUno{
    0%{
        font-size: 50px;
        border-bottom: 5px solid red;
    }
    50%{
        font-size: 80px;
        border-bottom: 15px solid blue;
    }
    75%{
        font-size: 120px;
        border-bottom: 20px solid green;
    }
} */