body{
    background-color: lightgrey;
}

li{
    border: 0.05em solid black;
    border-radius: 30%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    width: 120px;
    padding: 30px;
}

ul{
    width: 500px;
    display: block;
    margin: 25px auto;
}



.contentHome, .contentProfile, .contentMessages, .contentSettings{
border: 0.05em solid black;
width: 1000px;
margin: 0 auto;
padding: 200px;
}

li:hover{
    background-color: whitesmoke;
    color: black;
    box-shadow: 2px 3px grey;
}