/*
 Todo lo de la clase 'patas' dentro de la ID 'Rufo' será azul.
 */

  #Rufo{
    color:blue;
  }

/*
 Todo lo que pertenezca a la ID 'Bobby' estará en color rojo.
 */

  #Bobby{
    color:red;
  }

/*
 Todo lo que sea de la clase 'patas' estará en color amarillo.
 */

  .patas{
    color:yellow !important;
    font-size: 50px;
  }

  p[data-texto="Bobby"]{
    color:purple;
  }

  #Rufo .patas{
    color:orange !important;
  }

  #Rufo.pastor_aleman{
    color:green;
  }

  .pastor_aleman{
    font-size:30px;
  }

  input[type="text"], input[type="email"]{
    color:purple;
  }

  .hipervinculo{
    color:red;
  }

  .hipervinculo:hover{
    color:green;
  }

  #Kafu .pata{
    color:red;
  }
  #Kafu .pata:first-child::after{
    content: " Está mala";
    color:black;
  }

  /*Aquí utilizamos un unicode "\25A2" para crear el cuadrado.*/
  #Kafu .pata:first-child::before{
    content: "\25A2";
    color:black;
  }

  #Kafu .pata:last-child{
    color:brown;
  }

  p{
    /*contenido*/
    background: grey;
    /*relleno, sucede lo mismo que en margin*/
    padding: 5px 80px;
    /*border*/
    border: 10px dotted black;
    /*margin, podemos modificar los márgenes de cada lado siguiendo el orden:
    1, 2, 3 y 4. Empezando por el lado de arriba (1) y seguimos en sentido horario.
    Si queremos repetir medidas en algunos lados solo tenemos que definir la mitad.*/
    margin: 20px 10px;
    /*ancho
    width: 300px;/*
    /*alto
    height: 20px;/*
    /*redondear bordes, sucede lo mismo que con margin*/
    border-radius: 50px 10px 40px;
  }

  /*de esta forma ahorraríamos código, se separan por comas,
  y podemos ver que predomina sobre las anteriores.

  #Kafu .pata:first-child, #Kafu .pata:last-child{
    color:black;
  }
  */

  /*Para seleccionar el hijo que queramos, ponemos el valor en los paréntesis,
  también podemos poner operaciones (par, impar, ...)*/
  #Kafu .pata:nth-child(3){
    color:green;
  }
  p::first-letter{
    font-weight: bold;
    font-size: 20px;
  }
