* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-1 {width:calc(100% / 12);} /*8.33%*/
.col-2 {width:calc((100% / 12) * 2);} /*16.66%*/
.col-3 {width:calc((100% / 12) * 3);} /*25%*/
.col-4 {width:calc((100% / 12) * 4);}
.col-5 {width:calc((100% / 12) * 5);}
.col-6 {width:calc((100% / 12) * 6);}
.col-7 {width:calc((100% / 12) * 7);}
.col-8 {width:calc((100% / 12) * 8);}
.col-9 {width:calc((100% / 12) * 9);}
.col-10 {width:calc((100% / 12) * 10);}
.col-11 {width:calc((100% / 12) * 11);}
.col-12 {width:100%;}

#cabecera {
  background: purple;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 20px;
}

#menu ul{
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px 0 0 10px;
}

#menu li{
  margin: 10px;
  background: blue;
  text-align: center;
  padding: 5px;
}

#titulo {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 15px;
}

#articulo {
  padding: 25px;
}

/*El código de abajo sirve para optimizar la página en dispositivos hasta 425px de tamaño.*/

@media (max-width: 425px){
  [class*="col-"] {
    float: left;
    width: 100% !important;
  }

  #menu ul{
    padding: 0;
  }

  #cabecera, #menu, #articulo{
    text-align: center;
  }

}
