*{
  margin: 0px;
  padding: 0px;
}


#capa1 {
  background: green;
}


#capa2 {
  background: #A6582A;
}

.capa {
  font-family: sans-serif;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  width: 100%; /*Esto se podría quitar, porque el width ya ocupa el 100% en un div*/
  height: 100vh;
  font-size: 3em;
  line-height: 100vh;
}
