*{
  margin: 0px;
  padding: 0px;
}


#capa1 {
  background: green;
}


#capa2 {
  background: #A6582A;
}

.capa {
  font-family: sans-serif;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
