*{
  margin: 0;
  padding: 0;
}

#corta {
  background: green;
  width: 25%;
}

#larga {
  background: orange;
  width: 75%;
}

.barra {
  font-family: sans-serif;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  display: inline-block;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
