* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-1 {width:calc(100% / 12);} /*8.33%*/
.col-2 {width:calc((100% / 12) * 2);} /*16.66%*/
.col-3 {width:calc((100% / 12) * 3);} /*25%*/
.col-4 {width:calc((100% / 12) * 4);}
.col-5 {width:calc((100% / 12) * 5);}
.col-6 {width:calc((100% / 12) * 6);}
.col-7 {width:calc((100% / 12) * 7);}
.col-8 {width:calc((100% / 12) * 8);}
.col-9 {width:calc((100% / 12) * 9);}
.col-10 {width:calc((100% / 12) * 10);}
.col-11 {width:calc((100% / 12) * 11);}
.col-12 {width:100%;}

#page_title{
  background-color: lightblue;
  color: black;
  padding:50px;
  font-family: sans-serif;
  font-weight: bold;
  margin:5px;
}

.note{
  font-size: 10px;
}

#main_content{
  background-color: purple;
  color: white;
  padding: 100px;
  font-family: sans-serif;
  font-weight: bold;
  margin:5px;
}

#masthead{
  background-color: darkblue;
  color: white;
  padding: 97px;
  font-family: sans-serif;
  font-weight: bold;
  margin:5px;
}

#sidebar{
  background-color: grey;
  color: white;
  padding: 30px;
  font-family: sans-serif;
  font-weight: bold;
  margin:5px;
}

#footer{
  background-color: rgb(201, 201, 99);
  color: black;
  padding: 40px;
  font-family: sans-serif;
  font-weight: bold;
  margin:5px;
}

#middle_row{
max-height: 300px;
}

